body {
  background-color: steelblue;
  display: flex;
  align-items: center;
}


#score{
    display: inline-block;
}

div.game-intro {
  position: absolute;
}

.score-title {
  color: white;
  font-weight: normal;
}

.score-container {
  margin-top: 40px;
  margin-top: 40px;
  position: absolute;
  top: 0;
  left: 14%;
}

div {
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}

canvas {
    display: block;
    margin:0 auto;
    margin-top: 40px;
}

p {
  color: white;
}

#start-button {
  margin-bottom: 15px;
}
